@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(https://storage.needpix.com/rsynced_images/leaves-tropical-wallpaper-foliage.jpg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0px;
  font-weight: 700;
  font-family: 'Bree Serif', serif;
}
